.button-signup {
  height: 31px;
  width: 121px;

  border: none;

  background-color: #df7e38;

  color: #fff;
  font-size: 20px;
  border-radius: 4px;

  font-family: Helvetica, sans-serif;

  margin: 0 5px 0 5px;
}

.button-signup:hover {
  opacity: 0.6;
}

.url {
  text-decoration: none;
  color: #fff;
}
