head
  title My template email
  script(src='/javascripts/app.js')
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=' crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js")    
  style
    include css/app.css
    include css/button.css