.email-body {
  color: yellowgreen; }

strong {
  font-weight: bold;
  color: orange; }

.admin {
  font-weight: bold;
  color: orange; }

.enfase {
  font-weight: bold;
  color: orange; }

@media (max-width: 600px) {
  table.table {
    width: 250px;
    background-color: yellowgreen; }
  table {
    background-color: #666; } }

button {
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: orange;
  border-radius: 4px;
  cursor: pointer; }
  button:hover {
    opacity: 0.6; }
  button a,
  button link {
    text-decoration: none;
    color: #fff; }
  button text {
    color: #fff; }
