<strong>Olá,{{provider}}</strong>
<p>Um cliente {{name}} enviou uma mensagem pela área externa!</p>
<p>
  <strong>Cliente:{{name}}<br /></strong>
  <strong>Assunto:{{type}}<br /></strong>
  <strong>Messagem:{{msg}}<br /></strong>
  <strong>Data/hora:{{date}}<br /></strong>
  <br />
  <small>
    Você pode visualizar a avalição completa na sessão de avaliações.
  </small>

</p>