{{>header}}

<strong>Olá, {{admin}}!</strong>
<p style="color: blueviolet">Houve uma nova inscrição em nossa plataforma!</p>
<p>
  <strong>Cliente: {{name}}<br /></strong>
  <strong>Email para contato: {{email}}<br /></strong>
  <strong>Data/hora: {{date}}<br /></strong>
  <br />
  <small>
    Um email de confirmação de cadastro foi enviado para o novo cliente.
  </small>
</p>

{{>footer}}